.filter {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.filter__checkbox {
    margin-right: 5px;
}


@media only screen and (max-width: 1200px) {
    .filter {
        flex-direction: row;
        justify-content: end;
    }

    .filter__item {
        margin-left: 15px;
    }
}