.loadBtn {
    appearance: none;
    border: 0;
    border-radius: 3px;
    background: #56fae3;
    padding: 10px 20px;
    font-size: 16px;
    display: block;
    margin: 20px auto; 
    min-width: 100px;
    outline: none;
}

.loadBtn:hover {
    background: #37e4cd;
}

.loadBtn_hidden {
    display: none;
}